In [52]:
import pandas as pd

In [68]:
bank='vtb' # tink sber alpha vtb

In [69]:
# results = pd.read_parquet('data/results_sravni.parquet')
results = pd.read_parquet(f'data/results_sravni_{bank}.parquet')
results['timestamp'] = pd.to_datetime(results['time'].apply(lambda x: x[:15].replace('T', ':')), format='%Y-%m-%d:%H:%M' )
results = results.rename(columns={'pred_text': 'triplets'})
results = results[['triplets', 'timestamp']]
results

                                               triplets           timestamp
0     [('впечатление', 'хорошее', 'POS'), ('сотрудни... 2024-03-09 15:05:00
1                                                    [] 2024-03-05 07:00:00
2                                                    [] 2024-03-01 16:02:00
3                                                    [] 2024-02-26 13:02:00
4                                                    [] 2024-02-22 00:04:00
...                                                 ...                 ...
2574                  [('картину', 'печальную', 'NEG')] 2019-04-18 01:05:00
2575                                                 [] 2019-03-03 20:05:00
2576                                                 [] 2018-12-12 21:02:00
2577                                                 [] 2018-10-15 13:04:00
2578                                                 [] 2018-09-26 16:02:00

[2579 rows x 2 columns]

In [70]:
results.to_parquet(f'data/{bank}.parquet')