In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_parquet("data/alpha.parquet")
df_1 = pd.read_parquet("data/tink.parquet")
df_2 = pd.read_parquet("data/vtb (1).parquet")
df_3 = pd.read_parquet("data/sber_cats.parquet")

In [12]:
label2id = {
"debitCards" : 0,
"creditCards" : 1,
"remoteService" : 2,
"serviceLevel" : 3,
"credits" : 4,
"savings" : 5,
"mortgage" : 6,
"other" :  7}

df["label"] = df["category"].map(label2id)
df_1["label"] = df_1["category"].map(label2id)
df_2["label"] = df_2["category"].map(label2id)
df_3["label"] = df_3["category"].map(label2id)
df = pd.concat([df, df_1, df_2, df_3])

In [15]:
df[["text", "label"]].to_parquet("reviews_categories.parquet", index=False)

In [16]:
df[["text", "label"]]

                                                   text  label
0     Добрый день! Хочу выразить огромную благодарно...      3
1     Пришла в офис банка по адресу Ленина, 51 и был...      3
2     Хочу сказать спасибо за опыт общения сотрудник...      3
3     09.04.2024Г. Не смог зайти в личный кабинет Ал...      3
4     9 Апреля в 14:40 я посетила отделение Альфа-Ба...      3
...                                                 ...    ...
3622  20.11.18 около 13:00 в отделении Сбербанка по ...      7
3623  Списали в счёт погашения долга средства ежемес...      7
3624  4 месяца не отдавали закладную, толком не чего...      7
3625  12 февраля 2018 года в городе Мытищи, в отделе...      7
3626  К сожалению, имел неосторожность, "потерять" о...      7

[53191 rows x 2 columns]

In [18]:
id2label = {item : key  for key, item in label2id.items()}

In [19]:
id2label

{0: 'debitCards',
 1: 'creditCards',
 2: 'remoteService',
 3: 'serviceLevel',
 4: 'credits',
 5: 'savings',
 6: 'mortgage',
 7: 'other'}